


.calculator{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    min-width: 300px;
    width: 20%;
    margin: 5% auto;
    grid-gap: 1px;
}

.key{
    height: 60px;
    
}

#clear,#zero{
    grid-column: 1/3;
}

#equal{
    grid-column: 4/4;
    grid-row: 4/6;
    height: 100%;
}